# exclude files inside bin folder
Geometry/bin/*
ToneMapping/bin/*
PathTracing/bin/*

# exclude files inside obj folder
Geometry/obj/*
ToneMapping/obj/*
PathTracing/obj/*

# exclude files inside media folder
ToneMapping/media/*

# exclude vscode configuration files
.vscode
